<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QuestWebServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="QuestWebServiceSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44304/QuestWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="QuestWebServiceSoap2"
                contract="ServiceReference1.QuestWebServiceSoap" name="QuestWebServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>